.light-theme {

  ion-content, .item {
    background-color: #fff;
    color: #202070;
  }

  .button-outline, .button {
    color: #202070;
    border-color: #202070;
  }
 
  .toolbar-title, .bar-button, .item-button {
    color: #202070;
  }

  .header-md::after {
    background-image: none;
    background-color: #202070;
    height: 1px;
  }
 
  .header .toolbar-background {
    border-color: #202070;
    background-color: #fff;
  }

  .item-input .label-md{
    color: #202070;
  }

  .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #202070;
  -webkit-box-shadow: inset 0 -1px 0 0 #202070;
  box-shadow: inset 0 -1px 0 0 #202070;
}

    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #202070;
  -webkit-box-shadow: inset 0 -1px 0 0 #202070;
  box-shadow: inset 0 -1px 0 0 #202070;
}
  }  