.dark-theme {

    ion-content, .item {
      background-color: #000;
      color: #F0A804;
    }

    .item {
      color: #F0A804;
    }

    .ion-card-content {
      background-color: #000;
      color: #F0A804;
    }

    .card-md p {
      color: #F0A804;
    }

    .card-md h2 {
      color: #F0A804
    }    

    .card-ios p {
      color: #F0A804
    }

    .button-outline, .button {
      color: #F0A804;
      border-color: #F0A804;
    }
   
    .toolbar-title, .bar-button, .item-button {
      color: #F0A804;
    }

    .header-md::after {
      background-image: none;
      background-color: #F0A804;
      height: 1px;
    }
   
    .header .toolbar-background {
      border-color: #F0A804;
      background-color: #000;
    }

    .item-input .label-md{
      color: #F0A804;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #F0A804;
  -webkit-box-shadow: inset 0 -1px 0 0 #F0A804;
  box-shadow: inset 0 -1px 0 0 #F0A804;
}

    .list-md .item-input.item-input-has-focus:last-child,
    .list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #F0A804;
  -webkit-box-shadow: inset 0 -1px 0 0 #F0A804;
  box-shadow: inset 0 -1px 0 0 #F0A804;
}
  }  